<% if flash.present? %>
  <% if flash[:book_success].present? %>
    <h3 style="color: purple;"><%= flash[:book_success] %></h3>
  <% elsif flash[:book_error].present? %>
     <h3 style="color: red;"><%= flash[:book_error] %></h3>
  <% end %>
  <hr>
<% end %>

<%= flash %>

<h2>About <%= @book.title %> (<%= @book.year %>)</h2>

<h3><i>By <%= @book.author %></i></h3>

<p><%= @book.description %></p>

