<% if flash.present? %>
  <% if flash[:book_success].present? %>
    <h3 style="color: purple;"><%= flash[:book_success] %></h3>
  <% elsif flash[:book_error].present? %>
     <h3 style="color: red;"><%= flash[:book_error] %></h3>
  <% end %>
  <hr>
<% end %>

<h3>About <%= @book.title %> (<%= @book.year %>)</h3>

<h4><i>By <%= @book.author %></i></h4>

<p><%= @book.description %></p>

